@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Roboto+Slab:wght@100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Roboto+Slab:wght@100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Roboto+Slab:wght@100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.profile-section {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(53deg, #363639 50%, rgb(235, 150, 46) 50%);
  position: relative;
}
.profile-section nav {
  position: absolute;
  width: 97%;
}
.profile-section #navbarNav {
  flex-grow: 0;
}
.profile-section img {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 8px 9px, 15px 15px 20px;
  padding: 30px;
}
.profile-section img:hover {
  transform: scale(1.1);
  transition-duration: 1s;
}

.about-section {
  width: 100%;
  min-height: 100vh;
  background-color: #363639;
}
.about-section img {
  width: 190px;
  height: 260px;
  border: 1px solid rgb(200, 156, 121);
  border-radius: 10px;
  padding: 10px;
  border-radius: 10%;
  box-shadow: 0 5px, 0 5px 10px;
}
.about-section #content {
  font-size: 15px;
  line-height: 2;
  color: #fff;
}

.skills-section #img-h {
  max-width: 50%;
}
.skills-section #hotel-1 {
  background-color: blue;
}

.portfolio-section {
  width: 100%;
  min-height: 100vh;
  background-color: #363639;
}

@media (min-width: 991px) {
  .profile-section nav {
    flex-grow: 0;
  }
  .profile-section h1 {
    color: rgb(235, 150, 46);
  }
  .profile-section h1 h1 {
    color: rgb(36, 34, 31);
    font-family: "Roboto Slab", serif;
  }
  .profile-section h5 {
    color: #fff;
    font-family: "Geist Mono", monospace;
  }
  .profile-section h4 {
    color: #fff;
    font-family: "Geist Mono", monospace;
  }
  .profile-section h6 {
    color: #fff;
    font-family: "Geist Mono", monospace;
  }
  .about-section #content {
    font-size: 10px;
    line-height: 1.5;
  }
  .about-section img {
    width: 230px;
    height: 310px;
    border: 1px solid rgb(200, 156, 121);
    border-radius: 10px;
    padding: 10px;
    border-radius: 10%;
    box-shadow: 0 5px, 0 5px 10px;
  }
  .skills-section {
    width: 100%;
    height: 50vh;
    background-color: #363639;
  }
  .skills-section #img-pro {
    width: 200px;
    height: 200px;
  }
  .skills-section #img2 {
    width: 230px;
    height: 100px;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 5px;
    margin-left: 10px;
    border-radius: 4px;
    margin-top: 10px;
    margin-right: 0;
  }
  .skills-section #img3 {
    width: 230px;
    height: 100px;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 5px;
    border-radius: 4px;
    margin-left: 20px;
    margin-left: 25px;
  }
  .skills-section #hotel {
    width: 130px;
    height: 100px;
    background-color: pink;
    text-align: center;
    margin: 7px;
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-left: 0;
    font-family: "Roboto Slab", serif;
  }
  .skills-section #bussiness {
    width: 130px;
    height: 100px;
    background-color: pink;
    text-align: center;
    margin: 5px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-family: "Roboto Slab", serif;
  }
  .skills-section #search1 {
    background-color: rgb(235, 150, 46);
    width: 320px;
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    margin-left: 10px;
    color: #fff;
    font-family: "Roboto Slab", serif;
  }
  .skills-section #search2 {
    background-color: rgb(235, 150, 46);
    width: 320px;
    padding: 5px;
    border-radius: 10px;
    margin: 5px 5px;
    margin-left: 10px;
    font-size: 18px;
    color: #fff;
    font-family: "Sour Gummy", serif;
  }
  .skills-section #search3 {
    width: 100px;
    height: 50px;
    background-color: rgb(235, 150, 46);
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 5px;
    color: #fff;
  }
  .skills-section #mini-projects {
    width: 160px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    background-color: pink;
  }
  .skills-section #my-skills {
    font-family: "Roboto Slab", serif;
  }
  .skills-section #web-design {
    font-family: "Roboto Slab", serif;
  }
  .skills-section footer {
    background-color: #333;
    padding: 8px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto Slab", serif;
  }
  .skills-section footer .icon {
    display: flex;
    margin: 5px;
    background-color: #363639;
  }
  .skills-section footer .icon #facebook {
    width: 25px;
    height: 25px;
    background-color: rgb(58, 58, 132);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: 5px;
    color: white;
  }
  .skills-section footer .icon #viber {
    width: 25px;
    height: 25px;
    background-color: rgb(139, 71, 207);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px;
    color: white;
  }
  .skills-section footer .icon #telegram {
    width: 25px;
    height: 25px;
    background-color: rgb(79, 130, 206);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px;
    color: white;
  }
  .portfolio-section {
    width: 100%;
    height: 50vh;
    background-color: #363639;
  }
  .portfolio-section .portfolio-section {
    width: 100%;
    height: 100vh;
    background-color: #363639;
  }
  .portfolio-section .portfolio-section #footer {
    background-color: #333;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .portfolio-section .portfolio-section #footer .icon {
    display: flex;
  }
  .portfolio-section .portfolio-section #footer .icon #facebook {
    width: 22px;
    height: 22px;
    background-color: rgb(58, 58, 132);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: 5px;
    color: white;
  }
  .portfolio-section .portfolio-section #footer .icon #viber {
    width: 22px;
    height: 22px;
    background-color: rgb(139, 71, 207);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px;
    color: white;
  }
  .portfolio-section .portfolio-section #footer .icon #telegram {
    width: 22px;
    height: 22px;
    background-color: rgb(79, 130, 206);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px;
    color: white;
  }
  .portfolio-section .portfolio-section footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 20px;
    background-color: #383434;
    align-items: center;
  }
  .portfolio-section .portfolio-section footer #first {
    justify-content: start;
  }
  .portfolio-section .portfolio-section footer #first h4 {
    margin: 10px;
    padding: 5px;
    font-size: 30px;
    color: #FFFFFF;
  }
  .portfolio-section .portfolio-section footer #second {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-top: 20px;
  }
  .portfolio-section .portfolio-section footer #second #facebook {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(52, 52, 132);
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 5px;
    padding: 10px;
  }
  .portfolio-section .portfolio-section footer #second #twitter {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(120, 161, 237);
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 5px;
    padding: 10px;
  }
  .portfolio-section .portfolio-section footer #second #viber {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(120, 57, 197);
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 5px;
    padding: 10px;
  }
  .portfolio-section .portfolio-section footer #second #message {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(60, 60, 187);
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 5px;
    padding: 10px;
  }
}
@media (max-width: 768px) {
  .profile-section h1 {
    color: rgb(36, 34, 31);
    font-family: "Roboto Slab", serif;
  }
  .profile-section h5 {
    color: #fff;
    font-family: "Geist Mono", monospace;
  }
  .profile-section h4 {
    color: #fff;
    font-family: "Geist Mono", monospace;
  }
  .profile-section h6 {
    color: #fff;
    font-family: "Geist Mono", monospace;
  }
  .profile-section img {
    width: 250px;
    height: 250px;
    margin: 40px;
    padding: 30px;
  }
  .about-section img {
    width: 170px;
    height: 230px;
    padding: 10px;
    border-radius: 10%;
    box-shadow: 0 5px, 0 5px 10px;
  }
  .about-section #content {
    font-size: 10px;
    line-height: 1.5;
    font-family: "Roboto Slab", serif;
  }
  .skills-section {
    width: 100%;
    height: 100vh;
    background-color: #363639;
  }
  .skills-section #my-skills {
    font-family: "Roboto Slab", serif;
  }
  .skills-section #web-design {
    font-family: "Roboto Slab", serif;
  }
  .skills-section ul {
    width: 200px;
  }
  .skills-section #img-pro {
    width: 130px;
    height: 120px;
  }
  .skills-section #img2 {
    width: 200px;
    height: 90px;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 5px;
    margin-left: 5px;
    border-radius: 4px;
  }
  .skills-section #img3 {
    width: 190px;
    height: 90px;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 5px;
    margin-left: 10px;
    margin-right: 15px;
    padding-right: 10px;
    border-radius: 4px;
  }
  .skills-section #search1 {
    background-color: rgb(225, 148, 96);
    width: 120px;
    padding: 15px;
    border-radius: 10px;
    font-size: 12px;
  }
  .skills-section #search2 {
    background-color: rgb(225, 148, 96);
    width: 167px;
    padding: 15px;
    border-radius: 10px;
    margin: 5px 5px;
    font-size: 12px;
  }
  .skills-section #row4 {
    height: 200px;
  }
  .portfolio-section {
    width: 100%;
    height: 100vh;
    background-color: #363639;
  }
  .portfolio-section #footer {
    background-color: #333;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .portfolio-section #footer .icon {
    display: flex;
  }
  .portfolio-section #footer .icon #facebook {
    width: 22px;
    height: 22px;
    background-color: rgb(58, 58, 132);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: 5px;
    color: white;
  }
  .portfolio-section #footer .icon #viber {
    width: 22px;
    height: 22px;
    background-color: rgb(139, 71, 207);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px;
    color: white;
  }
  .portfolio-section #footer .icon #telegram {
    width: 22px;
    height: 22px;
    background-color: rgb(79, 130, 206);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px;
    color: white;
  }
  .portfolio-section footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #383434;
    align-items: center;
    margin-top: 50px;
  }
  .portfolio-section footer #first {
    justify-content: start;
  }
  .portfolio-section footer #first h4 {
    margin: 5px;
    padding: 5px;
    font-size: 30px;
    color: #FFFFFF;
  }
  .portfolio-section footer #second {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-top: 5px;
  }
  .portfolio-section footer #second #facebook {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(52, 52, 132);
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 5px;
    padding: 10px;
  }
  .portfolio-section footer #second #twitter {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(120, 161, 237);
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 5px;
    padding: 10px;
  }
  .portfolio-section footer #second #viber {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(120, 57, 197);
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 5px;
    padding: 10px;
  }
  .portfolio-section footer #second #message {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(60, 60, 187);
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 5px;
    padding: 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .skills-section {
    width: 100%;
    height: 100vh;
    background-color: #363639;
  }
  .skills-section #img-pro {
    width: 260px;
    height: 220px;
    margin: 30px;
  }
  .skills-section #img2 {
    width: 200px;
    height: 120px;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 5px;
    margin-left: 10px;
  }
  .skills-section #img3 {
    width: 210px;
    height: 120px;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 5px;
  }
  .skills-section #hotel {
    width: 100px;
    height: 120px;
    text-align: center;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .skills-section #bussiness {
    width: 100px;
    height: 120px;
    background-color: pink;
    text-align: center;
    margin: 5px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .skills-section #search1 {
    background-color: rgb(235, 150, 46);
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
  }
  .skills-section #search2 {
    background-color: rgb(235, 150, 46);
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
  }
  .skills-section footer {
    background-color: #333;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .skills-section footer .icon {
    display: flex;
    font-size: 20px;
    padding: 10px;
  }
  .skills-section footer .icon #facebook {
    width: 22px;
    height: 22px;
    background-color: rgb(58, 58, 132);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: 5px;
    color: white;
  }
  .skills-section footer .icon #viber {
    width: 22px;
    height: 22px;
    background-color: rgb(139, 71, 207);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px;
    color: white;
  }
  .skills-section footer .icon #telegram {
    width: 22px;
    height: 22px;
    background-color: rgb(79, 130, 206);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px;
    color: white;
  }
  .portfolio-section {
    width: 100%;
    height: 100vh;
    background-color: #363639;
  }
  .portfolio-section #footer {
    background-color: #333;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
  }
  .portfolio-section #footer .icon {
    display: flex;
  }
  .portfolio-section #footer .icon #facebook {
    width: 22px;
    height: 22px;
    background-color: rgb(58, 58, 132);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: 5px;
    color: white;
  }
  .portfolio-section #footer .icon #viber {
    width: 22px;
    height: 22px;
    background-color: rgb(139, 71, 207);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px;
    color: white;
  }
  .portfolio-section #footer .icon #telegram {
    width: 22px;
    height: 22px;
    background-color: rgb(79, 130, 206);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px;
    color: white;
  }
}
@media (min-width: 991px) {
  .skills-section {
    width: 100%;
    height: 100vh;
  }
  .skills-section img {
    width: 200px;
    height: 200px;
  }
  .portfolio-section {
    width: 100%;
    height: 100vh;
    background-color: #363639;
  }
  .portfolio-section #footer {
    background-color: #333;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .portfolio-section #footer .icon {
    display: flex;
  }
  .portfolio-section #footer .icon #facebook {
    width: 22px;
    height: 22px;
    background-color: rgb(58, 58, 132);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: 5px;
    color: white;
  }
  .portfolio-section #footer .icon #viber {
    width: 22px;
    height: 22px;
    background-color: rgb(139, 71, 207);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px;
    color: white;
  }
  .portfolio-section #footer .icon #telegram {
    width: 22px;
    height: 22px;
    background-color: rgb(79, 130, 206);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px;
    color: white;
  }
  .portfolio-section footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 20px;
    background-color: #383434;
    align-items: center;
  }
  .portfolio-section footer #first {
    justify-content: start;
  }
  .portfolio-section footer #first h4 {
    margin: 10px;
    padding: 5px;
    font-size: 30px;
    color: #FFFFFF;
  }
  .portfolio-section footer #second {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-top: 20px;
  }
  .portfolio-section footer #second #facebook {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(52, 52, 132);
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 5px;
    padding: 10px;
  }
  .portfolio-section footer #second #twitter {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(120, 161, 237);
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 5px;
    padding: 10px;
  }
  .portfolio-section footer #second #viber {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(120, 57, 197);
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 5px;
    padding: 10px;
  }
  .portfolio-section footer #second #message {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(60, 60, 187);
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 5px;
    padding: 10px;
  }
}/*# sourceMappingURL=style.css.map */